//-------------
//  Variables
//-------------

// The gutter width
$sigrid-gutter: 1.5em!default;

// The type of classes used
//
// If this is set to `true`, classes will be used in the generated code
// instead of placeholder selectors.
$use-classes: true!default;

// `x` is used as a variable name for the classes/placeholder selectors
// since it's short.
$x: unquote(".")!default;

@if ($use-classes == false) {
  $x: unquote("%");
}
